/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  --primary-brown: hsl(30, 92%, 24%);
  --grey: hsl(210, 22%, 49%);
  --white: #fff;
  --secondary-blue: rgb(4, 75, 253);
  --black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
=============== 
Global Styles
===============
*/
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background: hsl(210, 36%, 96%);
  color: var(--primary-brown);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--grey);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--white);
  background: var(--black);
}
.btn-white {
  color: var(--white);
  border-color: var(--white);
  border-radius: 0;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background: var(--white);
  color: var(--secondary-blue);
}
/* section */
.section {
  padding-bottom: 5rem;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/*
=============== 
Scroll
===============
*/
/* navbar */
nav {
  background: var(--white);
  padding: 1rem 1.5rem;
  z-index: 100;
}
/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--white);
  box-shadow: var(--light-shadow);
}

.fixed-nav .links a {
  color: var(--primary-brown);
}
.fixed-nav .links a:hover {
  color: var(--secondary-blue);
}
/* .fixed-nav .links-container {
  height: auto !important;
} */
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company-name {
  align-items: center;
  color: var(--grey);
  font-size: 2rem;
  padding-left: 1rem;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--primary-brown);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--secondary-blue);
}
.logo {
  height: 50px;
  border-color: black;
  border-width: 2px;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 200px;
}
.links a {
  background: var(--white);
  color: var(--primary-brown);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
}
.links a:hover {
  color: var(--primary-brown);
}
@media screen and (min-width: 800px) {
  nav {
    background: transparent;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }

  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    background: transparent;
    color: var(--white);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }
  .links a:hover {
    color: var(--white);
  }
}
/* hero */
header {
  min-height: 100vh;
  background: linear-gradient(rgba(2, 53, 207, 0.395), rgba(246, 244, 244, 0.3)),
    url(./k9-dog.png) center/cover no-repeat;
}
.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}
.container h1 {
  color: var(--white);
  text-transform: uppercase;
}
.container p {
  color: var(--white);
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}

.banner footer {
  justify-self: start;
}

#services {
  background: 
  linear-gradient(rgba(246, 244, 244, 0.7), rgba(63, 100, 212, 0.5)), 
  url(./glasses-laptop.jpg) center/cover no-repeat;
}

#tools {
  background: 
  linear-gradient(rgba(246, 244, 244, 0.9), rgba(63, 100, 212, 0.5)), 
  url(./Laptop_and_a_mug.jpg) center/cover no-repeat;

}

#about {
  background: 
  linear-gradient(rgba(246, 244, 244, 0.7), rgba(63, 100, 212, 0.5)), 
  url(./city-wifi.jpg) center/cover no-repeat;

}

.content p {
  color: var(--black);
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 768px) {
  .container p {
    max-width: 40rem;
  }
}
/* sections and title */
.title h2 {
  text-align: center;
  text-transform: uppercase;
}
.title span {
  color: var(--secondary-blue);
}
#about,
#services,
#tools {
  height: 100vh;
}


footer p {
  color: var(--white);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 0;
  margin-top: .5rem;
}

small {
  font-style: italic;
  font-size: x-small;
  background-color: transparent;
  color: rgba(246, 244, 244, 0.5);
  border-radius: var(--radius);
  padding: 2px;
}

footer ol {
  list-style-type: decimal;
  background-color: transparent;
  color: rgba(246, 244, 244, 0.5);
  font-style: italic;
  font-size: x-small;
  padding-left: 10px;
}

footer ol li {
  list-style-position: inside;
  display: list-item;
}

footer {
  background-color: var(--primary-brown);
  padding: 0.5rem 1rem;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--secondary-blue);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--white);
  animation: bounce 2s ease-in-out infinite;

  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
